.top{
    margin-top: 25px;
    
    color: #fff;
    margin: 0 auto;
    padding: 10px;
}
header{
    text-transform: uppercase;
    font-family: Tahoma;
    background-color: rgba(0,186,255,0.77);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

body {
	font-family: Tahoma;
	background: #ff6c00;
	margin: 0;
	background-image: url(back.png);
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #5200a5;
}
.box{
    max-width: 1550px;
    margin: 0 auto;
}
#logo{
    float:left;
    width:100px;
    height:100px;
}
nav {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0,186,255,0.77);
    margin: 0 auto;
    margin-top:15px;
    padding:10px;
    text-align:center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

.chet {
    height: ;
    background-color:#6c00ff;
    text-align:center;
    border-radius: 5px;
}

table {
    background-color:#5200a5;
    width: 1515px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}
.tabl_0{
    background-color:#000000;
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(0,186,255,0.77);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    padding-bottom:10px;
}

input {
    position: absolute;
	margin-top: 20px;
	margin-left: 380px;
	height: 40px;
	width: 300px;
	border-radius: 5px/5px;
	border: none;
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
input:focus {
	border: 1px solid #6c00ff;
	
}
button {
    position: absolute;
    margin-left: 1345px;
    margin-top: -64px;
	cursor: pointer;
	padding: 10px 30px;
	height: 50px;
	color: #fff;
	background: #5200a5;
	border: none;
	text-transform: uppercase;
	font-size: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    border-radius: 5px;
}
button:hover {
	opacity: .80;
	font-weight: bold;
	transform: scale(1.1);
}

.info {
    margin-top: 5px;
    margin-left: 10px;
    
}

footer {
    text-transform: uppercase;
    font-weight: bold;
    font-family: Tahoma;
    height: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width:100%;
    color: #fff;
    background-color: rgba(0,186,255,0.77);
    text-align:center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}